/vendor/*
/config/app.php
/tmp/*
/logs/*
/tmp
/logs
/composer.json
/composer.lock
/bower_components
/node_modules
/gulpfile.js
/package.json
/.DS_Store
/bower_components
/node_modules
/npm-debug.log
/css
/js/
/RemoteSystemsTempFiles/
/Servers/
.bowerrc
.metadata/