#pnlInfo {

	#urban-short {
		background-color: #f2f2f2;
		
		font-style: italic;
		font-size: 1.2em;
		
		padding: 15px;
	}

 	.info-container {
 		padding: 5px;
 	}
	.info-thumb {
	    float: left;
	}
	
	.info-content {
	    margin-left: 100px;
	    height: 64px;
	    display: table;
	    
	    p {
	    	display: table-cell;
	    	vertical-align: middle;
	    }
	}
	
}